 .column-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  
  .gambar-profile {
    border: 2px solid #333;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 100px;
    width: 100px;
  }
  
  .row-btn {
    display: flex;
    margin: auto;
    justify-content: center;
  }

  .row-btn-prof{
    margin-top: 7%;
    margin-bottom: 7%;
    margin-right: 2%;
  }
.profile-btn {
    margin: auto;
    border-radius: 50px;
    height: 40px;
    width: 150px;
    background-color: #0B60B0;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3),
      -5px -5px 10px rgba(255, 255, 255, 0.3);
  }
  
  .img-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    margin: auto;
  }

  .img-daftar{
    max-width: 250px;
    max-height: 280px;
    margin: auto;
    padding: 4px;
  }

  .img-post{
    margin: auto;
    border-radius: 10px;
    max-width: 215px;
    max-height: 230px;
  }
  